#what{
	padding-top: 100px;
	#up{
		h1{
		font-weight: 600;
		font-size: 30px;
		// padding-top: 340px;
		}
		p{
			padding-top: 15px;
			font-size: 14px;
		}
	}
	hr{
		border: 1px solid lightgrey;
		margin-top: 80px;
	}
	.col-md-6{
		padding-top: 50px;
		color: #55595f;
		line-height: 1.8em;
		font-size: 14px;

	}
	.col-md-3{
		padding-top: 50px;
		padding-bottom: 80px;
		padding-left: 50px;

		.media-body{
			padding-left: 40px;
			font-size: 13px;
			h1{
				font-size: 50px;
			}
		}
			.media-object{
				padding-top: 5px;
			}
	}
}